*{
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
    color: #F5F5F5;
}

:root {
    font-size: clamp(10px, min(2vw, 2vh), 24px);
}

html,body{
    scroll-behavior: smooth;
    height: 100%;
    min-width: 600px;
    overflow-x: hidden;
    background-color: #0E0014;
}

.page{
    display: grid;
    flex-direction: column;
    padding: 40px 80px 0px 80px;
    grid-template-columns: repeat(12, 1fr); /* 12 equal-width columns */
    grid-template-rows: repeat(13, 1fr);    /* 13 equal-height rows */
    gap: 10px;
    min-height: 600px;
}

.block{
    background-color: #251E48;
    border-radius: 8px;
}

.icon{
    background-color: #547FC9;
    border-radius: 8px;
}

.emptyBlock{
    grid-column: 1/-1;
}

