*{
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
    color: #F5F5F5;
}

:root {
    font-size: clamp(10px, min(2vw, 2vh), 24px);
}

html,body{
    scroll-behavior: smooth;
    height: 100%;
    min-width: 600px;
    overflow-x: scroll;
    scrollbar-width: none;
    overflow-x: hidden;
    background-color: #0E0014;
}

.page{
    display: grid;
    flex-direction: column;
    padding: 40px 80px 0px 80px;
    grid-template-columns: repeat(12, 1fr); /* 12 equal-width columns */
    grid-template-rows: repeat(13, 1fr);    /* 13 equal-height rows */
    gap: 10px;
    min-height: 600px;
}

.block{
    background-color: #251E48;
    border-radius: 8px;
}

.icon{
    background-color: #547FC9;
    border-radius: 8px;
}

.emptyBlock{
    grid-column: 1/-1;
}

#header {
    position: fixed;
    top: 10px;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #251E48;
    transition: 
        width 0.5s ease,
        left 0.5s ease,
        transform 0.5s ease;
    width: 41px;
}

.show#header {
    width: auto;
    left: 50%;
    transform: translateX(-50%);
}

#bars {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: 0.4s;
}

.show .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}
.show .bar2 {
    opacity: 0;
}
.show .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

#headerTabsContainer {
    display: flex;
    gap: 1vw;
    overflow: hidden;
    opacity: 0;
    transform: translateX(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    white-space: nowrap;
}

.show #headerTabsContainer {
    opacity: 1;
    transform: translateX(0);
}

.headerTab {
    visibility: visible;
    align-items: center;
    justify-content: center;
    font-size: clamp(16px,1vw,24px);
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    white-space: nowrap;
}

.headerTab:hover {
    background-color: #547FC9;
}
