<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>

<body>
    <div class="page">
        <div id="header" class="block">
            <div id='bars'>
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
            <div id="headerTabsContainer"></div>
        </div>

        <div id='me' class="emptyBlock"></div>
        <div id="photoMe" class="block"></div>
        <div id="aboutMe" class="">Hello,</div>

        <div id='projects' class="break block">Projects</div>
        <div id="projectPanel" class="">
            <div id="project1" class="block project" data-image="0">
                <div class='medal'></div>
                <div class="projectBar">
                    <span class="projectLeft">&lt;</span>
                    <a class="projectText">Project Description</a>
                    <span class="projectRight">&gt;</span>
                </div>
            </div>
            <div id="project2" class="block project" data-image="1">
                <div class='medal'></div>
                <div class="projectBar">
                    <span class="projectLeft">&lt;</span>
                    <a class="projectText">Project Description</a>
                    <span class="projectRight">&gt;</span>
                </div>
            </div>
            <div id="project3" class="block project" data-image="2">
                <div class='medal'></div>
                <div class="projectBar">
                    <span class="projectLeft">&lt;</span>
                    <a class="projectText">Project Description</a>
                    <span class="projectRight">&gt;</span>
                </div>
            </div>
        </div>
        <div class="break2 block"></div>

    </div>
    <div class="page">
        <div id='papers' class="break block">Papers</div>
        <div id="paperSwitcher" class="emptyBlock">
            <span id="prevPaper" >&lt;</span>
            <span id="paperTitle">Paper ?/?</span>
            <span id="nextPaper">&gt;</span>
        </div>
        <div id="paperPublication" class='block'>
            <h3>Publication:</h3>
            <a id="paperPublicationText" href="" target="_blank" rel="noopener noreferrer" >Filler</a>
        </div>
        <div id="paperPatent" class="block">
            <h3>Patent:</h3>
            <p id="paperPatentText">Filler</p>
        </div>
        <div id='paperType' class="block">
            <h3>Type:</h3>
            <p id="paperTypeText">Filler</p>
        </div>
        <div id="paperAwards" class='block'>
            <h3>Awards:</h3>
            <ul id="paperAwardsList">
                <li>test</li>
            </ul>
        </div>
        <div id="paperAbstract" class="block">
            <h1>Abstract:</h1>
            <br></br>
            <p id="paperAbstractText">Filler</p>
        </div>
        <object id="paperPDF" type="application/pdf"></object>
        <div class="break2 block"></div>
        <div class='emptyBreak'></div>
    </div>
    <div class="page">
        <div class='emptyBreak'></div>
        <div id='work' class="break block">Work Experience</div>
        <div id='work1Description' class=''>

        </div>
        <div id='work1Photo' class="work block" style="background-image: url('/static/assets/logos/PhewAI.png')"></div>
        <div class='emptyBreak'></div>
        <div id='work2Photo' class="work block"></div>
        <div id='work2Description' class=''>
            
        </div>
    </div>
    <div class="page">

    </div>
</body>

<script src="{{ url_for('static', filename='JS/projectRotation.js') }}" defer></script>
<script src="{{ url_for('static', filename='JS/paperVisualizer.js') }}" defer></script>
<script src="{{ url_for('static', filename='JS/header.js') }}" defer></script>