<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>

<body>
    <div class="page">
        <div id="header" class="block">

        </div>

        <div id="photoMe" class="block"></div>
        <div id="aboutMe" class="icon">Hello, My name is Michael Petrizzo!</div>

        <div class="break block">Projects</div>
        <div id="projects" class="block">
            <div id="project1" class="icon project project-left" data-image="0">
                <div class="projectBar">
                    <div class="projectLeft"></div>
                    <div class="projectText">Project Description</div>
                    <div class="projectRight"></div>
                </div>
            </div>
            <div id="project2" class="icon project project-center" data-image="1">
                <div class="projectBar">
                    <div class="projectLeft"></div>
                    <div class="projectText">Project Description</div>
                    <div class="projectRight"></div>
                </div>
            </div>
            <div id="project3" class="icon project project-right" data-image="2">
                <div class="projectBar">
                    <div class="projectLeft"></div>
                    <div class="projectText">Project Description</div>
                    <div class="projectRight"></div>
                </div>
            </div>
        </div>
        <div class="break2 block"></div>

    </div>
    <div class="page">
        <div class="break block">Papers</div>
        <div id="paperAbstract" class="icon">Filler</div>
        <div id="paperPDF" class="block"></div>
    </div>
</body>

<script src="{{ url_for('static', filename='JS/projectRotation.js') }}" defer></script>
