<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>

<body>
    <main>
        <div id="header" class="block">

        </div>

        <div id="photo" class="block"></div>
        <div id="aboutMe" class="icon">Hiya, im a C.S Nerd :3</div>

        <div class="break block">Projects</div>
        <div id="projects" class="block">
            <div id="project1" class="icon project">
                <div class="projectText">Project One Description</div>
            </div>
            <div id="project2" class="icon project">
                <div class="projectText">Project One Description</div>
            </div>
            <div id="project3" class="icon project">
                <div class="projectText">Project One Description</div>
            </div>
        </div>
        <div class="break2 block"></div>

    </main>
</body>